/*Basic styling of the city view*/
.citySubmit {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
  }
  .cityResult {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .notFullCityName {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .notValidInput {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  