/*Basic styling of the country view*/
.countrySubmit {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
  }
  
  .cityResult {
      display: flex;
      margin: 100px;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }
  
    .searchButtons{
      display: flex;
      margin: 100px;
      align-items: center;
      justify-content: center;
      font-size: 30px;  
    }
  
    .countryHeader{ display: flex;
      margin: 100px;
      align-items: center;
      justify-content: center;
      font-size: 30px;  
    }
  